.deps
.libs
*.a
*.gz
*.la
*.lo
*.o
*.log
*.trs
autom4te.cache
*.m4
config.guess
config.sub
depcomp
install-sh
missing
compile
config.log
config.status
configure
Makefile
Makefile.in
stamp-h1

README
NEWS
VERSION

src/config.h
src/config.h.in

doc/*.1
doc/*.1.html
doc/*.1.xml
doc/asciidoctor.css
doc/INSTALL.html
doc/README.html

build/

# Built binaries
/src/mast-sap-client
/src/mast-recorder

/tests/*_check_*.c
/tests/*_check_*.cmd
