Makefile
Makefile.in
VERSION
aclocal.m4
autom4te.cache/
build/
config.log
config.status
configure
*/Makefile
*/Makefile.in
doc/INSTALL.html
doc/README.html
doc/TODO.html
doc/asciidoctor.css
src/config.h
src/config.h.in
src/stamp-h1
*/*.o
*/*.a
*/.deps
mast_cast
mast_filecast
mast_info
mast_rawcast
mast_rawrecord
mast_record
doc/*.1*
